/koodi/viikko3/HelloCucumber/.nb-gradle/
/koodi/viikko4/TyhjaProjekti/.nb-gradle/
/koodi/viikko5/MockitoDemo/.nb-gradle/
/koodi/viikko5/MockitoDemo/build/
/koodi/viikko5/MatkakorttiMockito/.nb-gradle/
/koodi/viikko5/MatkakorttiMockito/build/
/koodi/viikko5/VerkkokauppaSpring/.nb-gradle/
/koodi/viikko5/Verkkokauppa1/.nb-gradle/
/koodi/viikko5/Verkkokauppa1/build/
/koodi/viikko5/IntJoukkoSovellus/.nb-gradle/
/koodi/viikko5/IntJoukkoSovellus/build/
/koodi/viikko5/Tennis/.nb-gradle/
/koodi/viikko5/Tennis/build/